<div class="container">
	<div class="row">
		<div class="col-md-12">
			<section>
				<header class="header">
					<h1>User Details</h1>
				</header>
			</section>
			<section class="main">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>User Name</th>
							<th>Email</th>
							<th>Password</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
<!-- 						<tr *ngFor="let user for users">
							<th scope="row">{{user.id}}</th>
							<td>{{user.uName}}</td>
							<td>{{user.uEmail}}</td>
							<td>{{user.uPassword}}</td>
							<td>
								
							</td>
						</tr>
 -->					</tbody>
				</table>
			</section>
		</div>
	</div>
</div>
